html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
main {
  min-height: 100%;
  position: relative;
}

header {
  background-image: url(../image/background_header.jpeg);
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
}

h1 {
  font-family: "Teko", sans-serif;
}
h2 {
  font-family: "Prompt", sans-serif;
}
h3 {
  font-family: "Teko", sans-serif;
  color: white;
}
footer {
  background-color: black;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

input[type="text"],
input[type="datetime"] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  padding: 10px;
  margin: 10px;
}

.bouton_valider {
  background-color: white;
  color: black;
  border: 3px solid rgb(12, 24, 41);
  padding: 10px 24px;
  border-radius: 10px;
  font-size: 15px;
}
.main2_reservation-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
p span{
  background: rgb(252, 9, 9);
  font-size: 25px;
}